# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional if large)
*.pt
*.pth

# IDE
.vscode/
.idea/